<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">
                        We have our discussions on the Matrix chat at:
                        <pre>#foss-wales:matrix.org</pre>
                        To join the chat, you can use among others the app
                        <a href="https://app.element.io/#/room/#foss-wales:matrix.org">element.io</a>.
                    </h3>
                </div>
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">
                        For your convenience, you can reach someone via email to
                        hello<span>-websit</span>e@f<span>oss.w</span>ales or on
                        <a href="http://github.com/foss-wales">GitHub</a>.
                    </h3>
                </div>
            </div>
        </div>
    </section>
