<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
{% comment %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
{% endcomment %}
<!-- We can include the clients, once we have people who endorse us. -->
<!-- { % include clients.html % } -->
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
